/** @format */
/** {
	border: 1px solid red;
}*/
.mainpage {
	height: fit-content;
	background: #f6f9fc;
	display: block;
	justify-content: center;
	position: relative;
}

.heart-btn {
	background: url(./../assets/icons/heart-empty.svg);
}

.heart-btn-selected {
	background: url(./../assets/icons/heart-filled.svg);
}

.icon-button {
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	border: none;
	transition: 0.3s ease-in-out;
}

.icon-button:hover {
	cursor: pointer;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.rating {
	display: inline-block;
}

.rating label {
	float: right;
	cursor: pointer;
	color: #ccc;
	transition: color 0.3s;
}

.rating label:before {
	content: "\2605";
	font-size: 30px;
}

.rating label:hover,
.rating label:hover ~ label {
	color: var(--primary-font-color-4);
	transition: color 0.3s;
}

.rating .in-rate-range {
	color: var(--primary-font-color-4);
	transition: color 0.3s;
}

.productPage {
	max-width: 1200px;
	border-radius: 10px;
	width: 100%;
	margin: 100px auto;
	box-shadow: 0 0 5px #ccc;
	min-height: 65dvh;
	background: white;
	position: relative;
}
.details {
	display: flex;
	position: relative;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 30px 0;
	width: 100%;
	height: fit-content;
}
.details .big-img {
	max-width: 500px;
	min-width: 290px;

	margin: 25px 25px 0 25px;
}
.big-img img {
	width: 100%;
	height: 100%;
	max-height: 400px;
	display: block;
	object-fit: cover;
}

.otherImage {
	max-width: 100px;
	min-width: 100px;
	height: 100px;
	display: flex;
}

.otherImage img {
	width: 100%;
	height: 100%;
	max-height: 400px;
	display: inline-block;
	object-fit: cover;
}

.details .box {
	max-width: 500px;
	min-width: 290px;
	margin: 25px;
	justify-content: space-between !important;
}
.box .row {
	display: block;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
}
.box .row h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.productPage .box span {
	color: crimson;
	margin-right: 40px;
}
.box .colors button {
	width: 30px;
	height: 30px;
	border: 1px solid #333;
	outline: none;
	margin-right: 5px;
	cursor: pointer;
}
.box p {
	line-height: 1.5;
	margin: 15px 0;
	text-align: justify;
	height: fit-content;
}
.thumb {
	width: 100%;
	height: 100px;
	display: flex;
	cursor: pointer;
	margin: 10px 0;
}
.thumb img {
	width: 90px;
	height: 100%;
	display: block;
	object-fit: cover;
	border: 1px solid #ddd;
	margin-right: 5px;
	opacity: 0.7;
	border-radius: 5px;
}
.thumb img.active {
	opacity: 1;
	border: 1px solid lightseagreen;
}
.box .cart {
	background: #333;
	border-radius: 5px;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 10px 25px;
	margin-top: 15px;
	margin-right: 20px;
}

.cart-selected {
	background: red;
}

.reviewsSection {
	margin: 0 100px 0px 100px;
	position: relative;
}

.reviewsSection h1 {
	margin-bottom: 10px;
}
.reviews {
	background-color: #fff;

	border-radius: 7px;
	padding: 10px;
}

.massage {
	background-color: #f2f2f2;
	border-radius: 4px;
	padding: 7px;
}

@media (max-width: 500px) {
	.thumb {
		height: 50px;
	}
	.thumb img {
		width: 50px;
	}
}
