/** @format */

.homeSlide h1 {
	font-size: 45px;
	line-height: 55px;
	margin: 50px 0 20px 0;
	width: 100%;
}

.homeSlide {
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
}
.home-slide-right {
	width: 50%;
}

.home-slide-right img {
	height: 450px;
	width: 100%;
}
.homeSlide p {
	margin: 20px 0;
	width: 90%;
}
.homeSlide ul {
	position: absolute;
	bottom: 20px;
	display: flex;
	justify-content: center;
}
.homeSlide ul li {
	border: 2px solid #b8b7b7;
	border-radius: 50%;
	padding: 10px;
	display: flex;
	justify-content: center;
}
.homeSlide ul li button {
	background: transparent !important;
	color: transparent !important;
}

.homeSlide ul li button::before {
	font-size: 10px !important;
	color: #0f3460;
	position: absolute;
	top: 2px;
	left: 0;
	margin: auto;
}

.catgrories {
	background-color: #f6f9fc;
	padding: 0px 5px;
	border-radius: 5px;
	height: 6vh;
	/*margin-top: 5px;*/
}
.catgrories span {
	margin-right: 10px;
	font-size: 30px;
	margin-top: 10px;
}
.catgrories h4 {
	font-weight: 500;
	margin-top: 12px;
}
.catgrories h4 i {
	margin-left: 100px;
}

@media (max-width: 900px) {
	.catagori-name {
		display: none;
	}
	.category {
		width: 12%;
	}

	.homeSlide h1 {
		font-size: 2rem;
	}
}
