/** @format */

footer {
	background-color: #ffffff;
	padding: 50px 50px;
	color: #000000;
}

.footer-contener {
	display: flex;

	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-contener .box {
	width: 350px;
	height: 100%;
}
footer h1 {
	margin-bottom: 30px;
	color: #e94560;
	font-weight: 800;
	font-style: italic;
}
footer .img {
	background-color: #ffffff;
	padding: 15px 20px;
	border-radius: 5px;
}
footer .logo {
	width: 300px !important;
	height: 40% !important;
}
footer .img i {
	font-size: 20px;
	margin: 5px;
}
footer .img span {
	margin-top: 5px;
}
footer p {
	padding: 0px 10px;
	font-size: 14px;
	font-weight: 300;
	text-align: justify;
	opacity: 0.8;
	margin-bottom: 20px;
}
footer h2 {
	margin-bottom: 20px;
}
footer li {
	margin-bottom: 10px;
	opacity: 0.8;
}
